.btn {
    background: orangered;
    color: black;
    font-size: 3vw;
    cursor: pointer;
    padding: 1em;
    width: 550px;
    margin: 20px auto;
    border-radius: 20px;
    /* on applique une transformation*/
    transform: scale(1);
    transition-duration: 1s; /* ou bien 1000ms */
}

.btn:hover{
    transform: scale(1.25);
}

.viewport {
    width: 5vw;
    height: 10vh;
    background: green;
}